<div class="header">
	<div class="container">
		<div class="row">
			<div class="center-align">
				<div class="element"></div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row heading">
			ABOUT US
		</div>
		<div class="content">
			Another ‘civil society’ organization? Not really.<br><br> 

	To explain, it can be safely said that the new trend in the participatory democracy during last decade has been to define and implement the concepts of social accountability, which include, participatory budgeting, tracking public expenditure, monitoring of public service delivery, and investigative journalism, public commissions and citizen boards among other things. This trend has been developed in order to influence the priorities of a government of a federal country or a state for spending from government exchequers and monitoring expenditures. Donor agencies interested in making social investments for a better and just society have started supporting the process of social accountability.<br><br>  

	The basic understanding of social accountability is to rely on the process of civic engagement, where the citizens and the civil society organizations take part in various ways in exacting accountability. Many people consider electoral process as an instrument, although this does not enable citizens to take part in government decision making or hold government officials accountable for government planning and spending. And this will ensure the benefit of those people who are mostly dependent on government services and do not have the capability to hold government officials accountable for planning and spending. Budget advocacy comes under this process of social accountability and it’s main objective is to influence the change in policy, change the decision-making system and empower people to make change.<br><br>

	By integrating these objectives budget advocacy groups can create impact on government’s functions and in turn, on people’s lives. With this broad objective we propose to form the Centre for Advocacy and Public Policy Studies, Kolkata. 
		</div>
	</div>
</div>


<div class="section">
	<div class="container">
		<div class="row heading">
			WHAT WE HAVE
		</div>
		<div class="content">
			Currently CAPPS has a dedicated team of skilled individuals committed to social change as envisioned above. For the last three years this team has been trying to influence the policy discourse by publishing theme based monthly magazine titled ‘Mulyayan’ (meaning ‘Evaluation’ in English) in Bengali. Mulyayan is a purely voluntary initiative by the team under the able guidance and leadership of veteran journalist Dr.Rohit Basu. Academicians, politicians, artists, activists, students, research scholars across school of thoughts have contributed in this endeavor so far. To take this initiative further and on a larger scale, the idea of forming CAPPS impregnated. During this journey it was felt that there existed enough room for the formation of a platform like CAPPS, at least in west Bengal and other parts of India in this region. Some details about the team and the works done so far are provided below.
		</div>
	</div>
</div>