<div class="section">
	<div class="container">
		<div class="row heading">
			GOALS
		</div>

		<div class="row">
			<ul class="collection with-header">
		        <li class="collection-item">
		        	Develop district and block level hubs of CSOs interested in this work. CAPPS will provide a useful infrastructure for sharing data and good practices, delivering trainings and monitoring performances.
		        </li>
		        <li class="collection-item">
		        	APPS will link the grant support to the well-conceived diagnostic work and provide an excellent learning experience for donors and grantees, particularly in the areas of institutional management and development, policy, institutional environment within which they operate.
		        </li>
		        <li class="collection-item">
		        	CAPPS believe that the typical nature of governance is multi-layered. Therefore, the coordination should be at multiple levels. Naturally, simply producing persuasive analysis will not be sufficient unless encouraged to better leverage other ‘accountability mechanisms’ such as the news media, courts, legislators and other CSOs. CAPPS will deliver towards this direction.It must be noted at this juncture that, CAPPS has the advantage of being headquartered in the heart of Kolkata having all possible avenues for better communication and promotion of public relations.
		        </li>
		        <li class="collection-item">CAPPS intends to encourage the mode of engagement through accumulation and dissemination of information, rather than taking a confrontation mode. Using these means, CAPPS with an attempt to make actual collaboration with public officials. Needless to mention that, if the public officials could be made active for analytical work by fully understanding the thinking behind such analysis it would add value to the vision and mission of CAPPS in several ways. For example, they might acknowledge the reliability of such interventions and response more pro-actively.  Instances are there where simply generating reports by outside organization without proper stakeholding of the partners often failed to generate the desired outcome.</li>
	     	</ul>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row heading">
			OUTPUTS
		</div>

		<div class="row">
			<ul class="collection with-header">
		        <li class="collection-item">
		        	Capacity building both at individual and institutional level related to budget and policy paradigm.
		        </li>
		        <li class="collection-item">
		        	Generate internationally comparable information on resource mobilization and expenditure management, targeted beneficiary, effectiveness and policy reforms in the social space. Added to these, CAPPS will also attempt to encourage infrastructure that will begin to build international benchmarks to maintain the quality of public spending.
		        </li>
		        <li class="collection-item">
		        	CAPPS will create a strong network of local civil society organizations using the ‘Peoples Budget initiative (PBI)’ as proposed by CBGA (New Delhi). This would help to share training materials, templates for analysis and advocacy added with examples of analysis of other organizations that the target organizations may adopt for self-development.
		        </li>
		        <li class="collection-item">
		        	Periodic assessments of impacts in each block, district as a way to adjust the programme along the way and to provide data for an end-output evaluation.
		        </li>
	     	</ul>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row heading">
			SUSTAINABILITY
		</div>

		<div class="content">
			CAPPS is confident that the interventions proposed will result in substantial progress over the short term (within 2 years), medium term (within 5 year) and long term (beyond 5 year). By the end of the 5th year CAPPS expect to have well established district and block level networks along with a robust base of enhanced capacity of the public and related stakeholders through these participating organizations. Thus, such activities of CAPPS will provide strong credentials for seeking and utilizing funds from both domestic and international donors. As a long term goal, CAPPS intends to expand it capacity building activities beyond West Bengal.<br><br>

			Now, to set up CAPPS within a formal framework, it is seeking for prudent donors to provide CAPPS with the initial seed social investment for at least the coming 5 years, which is upto 2021 starting from 2016. This funding is expected to cover the salaries of the staffs, generating people friendly analytical research outputs, printing, advocacy campaigns across the districts and blocks and other minimum administrative expenditures to run an organization. Over the years, CAPPS shall try to make it sustainable by its own credibility earned during these initial years.
		</div>
	</div>
</div>