<div class="section">
	<div class="container">
		<div class="row heading">
			BOARD OF TRUSTEES
		</div>

		<div class="row">
			<div class="col s4 center-align" style="margin-left:0%;">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<p>Mr. John Samuel</p>
			</div>
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				John Samuel has around 25 years of experience and expertise in strengthening democratic governance, human rights advocacy, sustainable development and institution building in India, Asia and internationally His work combined policy research, advocacy capacity building, strategic leadership and social mobilization across the world. He has worked with civil society, government agencies and academic institutions to promote inclusive participation of the marginalized people in governance. 
			</div>
		</div>

		<div class="row">
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				John Samuel has around 25 years of experience and expertise in strengthening democratic governance, human rights advocacy, sustainable development and institution building in India, Asia and internationally His work combined policy research, advocacy capacity building, strategic leadership and social mobilization across the world. He has worked with civil society, government agencies and academic institutions to promote inclusive participation of the marginalized people in governance. 
			</div>
			<div class="col s4 center-align" style="margin-left:0%;">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<p>Mr. John Samuel</p>
			</div>
		</div>

	</div>
</div>