<div class="section">
	<div class="container">
		<div class="row heading wow bounceInUp">
			BOARD OF TRUSTEES
		</div>

		<div class="row wow slideInLeft" data-wow-duration="0.8s" style="margin-top: 2%;">
			<div class="col s4 center-align">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<div>
					Mr. John Samuel<br>
					President, Board of Trustees, CAPPS
				</div>
			</div>
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				John Samuel has around 25 years of experience and expertise in strengthening democratic governance, human rights advocacy, sustainable development and institution building in India, Asia and internationally His work combined policy research, advocacy capacity building, strategic leadership and social mobilization across the world. He has worked with civil society, government agencies and academic institutions to promote inclusive participation of the marginalized people in governance. 
			</div>
		</div>

		<div class="row wow slideInRight" data-wow-duration="0.8s" style="margin-top: 2%;">
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				Rohit, a Ph.D in Ceramic Engineering from Calcutta University, is a senior media professional by choice. He has over 26 years of successful experience providing fiscal, strategic and operational leadership in uniquely challenging and competitive sectors. He served the media industry in various capacities. To mention a few ,Director and Sr. VP of Tara TV Network, Chief Reporter ( Political Affairs), Anandabazar Patrika, the largest circulating Bengali daily, Executive Editor of Khaskhobor, first Bengali news & current affairs programme on Doordarshan, CEO of Blue DreamZ Advertising, the largest outdoor advertising company in Kolkata, Science Editor of Sakaal Times, an English daily from the Sakal group based in Pune.
			</div>
			<div class="col s4 center-align" style="margin-left:0%;">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<div>
					Dr.Rohit Basu<br>
					Member Secretary
				</div>
			</div>
		</div>

		<div class="row wow slideInLeft" data-wow-duration="0.8s" style="margin-top: 2%;">
			<div class="col s4 center-align">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<div>
					Dr.Debdulal Thakur<br>
					Member
				</div>
			</div>
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				He is a life member of "The Indian Econometric Society' (TIES), has extensively worked in the areas of fiscal policy, budgets, urban finance and economics of education for the last 10 years. He has co authored number of project based reports funded by the UNDP, UNICEF, ADB, DFID related to budgets, public expenditure, especially related to strengthening the fiscal and governance position of the urban local bodies in India.He has been trained (by invitation) at the ‘Intermediate Budget Workshop’ held at Dar-Es-Salaam, Tanzania ( 2007),organised by-IBP (Wasington DC), Funder (Mexico).
			</div>
		</div>

		<div class="row wow slideInRight" data-wow-duration="0.8s" style="margin-top: 2%;">
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				Mitali has earned an M.A. in political science from Burdwan University and is a journalist. Currently, she is also the proprietor of Leaves ‘n Aroma (the tea boutique). As a journalist she has worked as principal correspondent with Tara newz, Sakalbela, R plus news channel and alike. Mitali was staff reporter with Khas Khoboor, Bangalok Patrika and Sambad Pratidin and as editorial assistant with Calcutta Creative a publication house).
			</div>
			<div class="col s4 center-align" style="margin-left:0%;">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<div>
					Ms. Mitali Mitra<br>
					Member & Treasurer
				</div>
			</div>
		</div>

		<div class="row wow slideInLeft" data-wow-duration="0.8s" style="margin-top: 2%;">
			<div class="col s4 center-align">
				<img class="responsive-img circle" src="../images/team/john.jpg">
				<div>
					Ms. Srabani Bhadury<br>
					Member
				</div>
			</div>
			<div class="col s8 content" style="margin-top: 2%; margin-left: -2%;">
				Srabani Bhadury is a tourist guide licensed by the Government of India, Ministry of Tourism. She has been associated with theater for long, working in productions such as  Basona Brikshyamule, (an adaptation of Eugene O’Neill’s “Desire Under the Elms”) directed by Sudipto Chattopadhyay; Haripada Horibol, (adapted from “The Death of a Government Clerk” by Anton Chekov) written by the late playwright Indrashish Lahiri; Mephisto, directed by Suman Mukhopadhyay; Thanda Gosht (from a collection of short stories by Sadat Hasan Manto) directed by Usha Ganguly; Meghnad Badh Kabya, directed by Manish Mitra, and several others. 
			</div>
		</div>


	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row heading wow bounceInUp">
			ADVISORS
		</div>

		<div class="row center-align wow slideInRight" data-wow-duration="0.8s" style="margin-top: 5%">
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
		</div>


		<div class="row center-align wow slideInLeft" data-wow-duration="0.8s" style="margin-top: 5%">
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
		</div>


		<div class="row center-align wow slideInRight" data-wow-duration="0.8s" style="margin-top: 5%">
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
		</div>


		<div class="row center-align wow slideInLeft" data-wow-duration="0.8s" style="margin-top: 5%">
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
		</div>


		<div class="row center-align wow slideInRight" data-wow-duration="0.8s" style="margin-top: 5%">
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
			<div class="col s4">
				<img class="responsive-img circle" src="../images/team/john.jpg">				
			</div>
		</div>


	</div>
</div>